.date {
    font-family:OpenSans-Semibold;
    font-size:10;
    color:#6e6e6e;
    line-height:14px;
    text-align:left;
}

.comment {
    font-family:OpenSans;
    font-size:12;
    color:#3e3e3e;
    line-height:18px;
    text-align:left;
}