ion-header {
    font-family:OpenSans-Semibold;
    font-size:15.02px;
    color:#ffffff;
    line-height:20px;
    text-align:center;
}

h1 {
    font-family:OpenSans;
    font-size:27.29px;
    color:#ffffff;
    line-height:8.53px;
    text-align:center;
}

.button {
    font-family:OpenSans;
    font-size:12.79px;
    color:#ffffff;
    letter-spacing:0.21px;
    line-height:18px;
    text-align:center;
    border-color: #ffffff;
}

.home-content {
    background-color: #ffffff;
}

