<!--
  Generated template for the HotelDetails page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hotels</ion-title>
    <ion-buttons end>
      <button (click)="goToHotelComents(hotel.id)">
    Review
    </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="hotel">
    <ion-slides class="home-content" >
      <ion-slide *ngFor="let img of hotel.imgUrl; let i = index; trackBy: trackByFn">

        <img class="img-responsive" [src]='img'>

      </ion-slide>
    </ion-slides>
  </div>

  <p class="h1">{{hotel?.name}}</p>
  <button ion-button outline>
    <p class = "h2">{{hotel?.price | currency:'USD':true:'1.2-2'}} per night</p>
  </button>
  <p class="h3">{{hotel?.description}}</p>

</ion-content>