.h1 {
    font-family:OpenSans-Bold;
    font-size:19.62px;
    color:#404040;
    letter-spacing:0.16px;
    line-height:8.53px;
    text-align:left;
}

.h2 {
    font-family:OpenSans-Semibold;
    font-size:14.5px;
    color:#535353;
    letter-spacing:0.24px;
    line-height:20px;
    text-align:center;
}

.h3 {
    font-family:OpenSans;
    font-size:11.94px;
    color:#404040;
    letter-spacing:0.14px;
    line-height:8.53px;
    text-align:left;
}